.all--posts {
  
  background-color: #dcdcec;
  padding: 50px 0;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
}

.all--posts .title {
  margin-bottom: 65px;
}
.all--posts__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1280px) {
     grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.all--posts__item {
  background-color: #fff;
}
.all--posts__title {
  // width: 340px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  color: #232536;
}

.all--posts__text {
  // width: 340px;
  margin-bottom: 25px;
}
.all--posts__box {
  padding: 30px;
}
.all--post--img{
  width: 450px;
  @media (min-width: 768px) {
    width: 355px;
  }
  @media (min-width: 1280px) {
    width: 400px;
  }
}