.footer {
  padding-top: 70px;
  @media screen and (min-width: 1280px) {
    padding-top: 90px;
  }
  & .container {
    display: flex;
    justify-content: space-between;
  }
}
.footer svg {
  &:hover {
    transform: scale(1.5);
  }
}
.footer__left {
  padding-bottom: 65px;
}
.footer__title {
  font-weight: 600;
  font-size: 27px;
  line-height: 35px;
  width: 260px;
  margin-bottom: 25px;
  color: #000000;
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 58px;
    width: 530px;
    margin-bottom: 40px;
  }
}
.footer__talk {
  font-weight: 600;
  font-size: 24px;
  color: #232536;
  margin-bottom: 30px;
}
.footer__mail {
  margin-bottom: 30px;
}
.footer__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  width: 220px;
}
.footer__menus {
  display: none;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    gap: 60px;
  }
}
.footer__menu {
  width: 126px;
}

.footer__menu h4 {
  margin-bottom: 20px;
}
.footer__menu--item {
  margin-bottom: 20px;

  border-bottom: 2px solid #b2b3bb;
  & a {
    display: inline-block;
    transition: transform 0.5s;
  }
  &:hover {
    border-bottom: 2px solid black;
    & a {
      transform: rotateX(360deg);
    }
  }

  &:not(:hover) a {
    transition: none;
    transform: rotateX(0deg);
  }
}

.footer__bottom {
  background-color: #b2b3bb;
  padding: 30px 0;
}
.footer__bottom--left {
  display: flex;
  align-items: center;
  & .logo {
    color: black;
    margin-right: 40px;
  }
}
.footer__network {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__text {
  display: none;
  @media (min-width: 480px) {
    display: block;
  }
}
