.process {
  padding: 70px 0;
  @media screen and (min-width: 1280px) {
    padding: 100px 0;
  }
}
.process__title {
  margin-bottom: 15px;
  @media (min-width: 480px) {
    width: 425px;
  }
  @media screen and (min-width: 768px) {
    width: 565px;
  }
  @media screen and (min-width: 1280px) {
    width: 680px;
  }
}
.process__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.process__item {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2325362b;
  @media (min-width: 480px) {
    width: 395px;
    height: 210px;
    padding: 0;
  }
  & h3 {
    margin-bottom: 10px;
  }
  & p {
    color: #5d5f6d;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 350px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.process__text {
  margin-bottom: 35px;
  @media (min-width: 480px) {
    width: 445px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    width: 640px;
    margin-bottom: 70px;
  }
}
.process-card__icon {
  margin-bottom: 15px;
}
.process__content {
  width: 290px;
}
.number {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ccc;
  font-weight: bold;
}
