.culture{
    padding: 95px 0;
    background-color: #dcdcec;
}
.culture__title{
    width: 770px;
    margin-bottom: 25px;
}
.culture__text{
    width: 620px;
    margin-bottom: 65px;
}
.culture__list{
    display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   gap: 12px;
}
.culture__item{
    height: 200px;
    background-color: #fff;
    padding: 32px 0 0 20px;
}
.culture__icon{
    margin-bottom: 10px;
}
.culture__item--title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}