.jobs {
  padding: 50px 0;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
}
.jobs__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 58px;
  }
}
// .jobs__box {
//   height: 950px;

// }
.jobs__list {
  background-color: #d1ecee;
  padding: 78px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.jobs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 245px;

  background-color: #fff;
}
.job__title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  color: #232536;
}
.job__info {
  margin-bottom: 52px;
}
.job__link {
  display: inline-block;
  font-weight: 500;
  color: #5d5fef;
  &:hover {
    transform: scale(1.2);
  }
}
